
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>Я клиент</h5>
                </div>
                <div class="card-text">
                    <a class="btn btn-primary" asp-controller="Customers" asp-action="Log_in">Войти в кабинет</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>Я сотрудник отеля</h5>
                </div>
                <div class="card-text">
                    <a class="btn btn-info" asp-controller="Employees" asp-action="Log_in">Войти в кабинет</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>Я сотрудник кафе</h5>
                </div>
                <div class="card-text">
                    <a class="btn btn-success" asp-controller="Cafe_employees" asp-action="Log_in">Войти в кабинет</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5>Я сотрудник склада</h5>
                </div>
                <div class="card-text">
                    <a class="btn btn-warning" asp-controller="Wirehouse_employees" asp-action="Log_in">Войти в кабинет</a>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
