@model elfbar_shop.Models.TypesViewModel

<div class="modal fade" id="deleteType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="deleteTypeLabel">ВИДАЛЕННЯ ТИПУ ТОВАРУ</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="text-white">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("DeleteType","Types")">
                    <div class="form-group">
                        <h4>ПІДТВЕРДІТЬ ВИКОНАННЯ ОПЕРАЦІЇ</h4>
                        <br />
                        <h5>БУДУТЬ ВИДАЛЕНІ ТАКОЖ ВСІ ТОВАРИ ЦЬОГО ТИПУ!</h5>
                        <input type="hidden" value="@Model.id" asp-for="id" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">СКАСУВАТИ</button>
                <button type="button" class="btn btn-success" data-deleteFromDB="modal">ВИДАЛИТИ</button>
            </div>
        </div>
    </div>
</div>

