@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="font-weight-bold mt-3" style="font-size:36px">Messenger</div>
    <p style="font-size:24px">Use the navigation panel above to communicate with your people.</p>
</div>



