@{
    ViewData["Title"] = "ІНФО";
}
<br />
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="card-title text-center">
            <h3>ПРО ЦЕЙ САЙТ</h3>
        </div>
        <br />
        <div class="card-text">
            Сайт створено на технології дрєвніх ацтеків АсипиДотиНЕТИ 5.0 при участі Ентіті фреймворк кор.<br />
             А також присутня МайСКЬЮель Датабейсбол, її вчора Оракул зробив.
        </div>
        <br />
        <div class="card-text">
            Використовуйте силу землі ТІЛЬКИ за призначенням!
        </div>
    </div>
    <div class="card-footer text-center">Сумісно з Марфуся Петрівна та DEED PANAS</div>
</div>