
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Info</h5>
                <button type="button" class="btn-close" onclick="closePartialClick(this)" aria-label="Close">
                    <span area-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="bi bi-exclamation-triangle" style="font-size:200px; margin-bottom:30px"></i>
                    <p class="text-center">UNEXPECTED ERROR</p>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:center">
                <button onclick="closeAfterOperationPartialClick(this)" type="button" class="btn btn-primary"><i class="bi bi-x-circle"></i> OK</button>
            </div>
        </div>
    </div>
</div>
