@using WebHostel.Domain.Enum

@model WebHostel.Models.ERegisterViewModel
@{
    ViewData["Title"] = "Регистраиця";
}


<div class="nav-item">
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
<form asp-controller="Employees" asp-action="Register">
    <div class="card col-md-8">
        <div class="card-header text-center"><label>Регистрация работника отеля</label></div>
        <div class="card-body">
            <div class="card-columns">
                <label>ФИО: </label>
                <input asp-for="fullname" name="fullname" placeholder="ФИО "/>
            </div>
            <br />
            <div class="card-columns">
                <label>Номер телефона: </label>
                 <input asp-for="phone" name="phone" placeholder="Номер телефона " />
            </div>
            <br />
            <div class="card-columns">
                Должность:
                <select asp-for="rank" name="rank" asp-items="@Html.GetEnumSelectList<EmployeeRanks>()">
                    <option value="">Выбрать</option>
                </select>
            </div>
            <br />
            <div class="card-columns">
                Статус:
                <select asp-for="status" name="status" asp-items="@Html.GetEnumSelectList<UserStatus>()">
                    <option value="">Выбрать</option>
                </select>
            </div>
            <br />
            <div class="card-columns">
                <label>Отель: </label>
                <input asp-for="hostel_name" name="hostel_name" placeholder="Отель "/>
            </div>
            <br />
            <div class="card-columns">
                <label>Логин: </label>
                <input asp-for="login" name="login" placeholder="Логин "/>
            </div>
            <br />
            <div class="card-columns">
                <label>Пароль: </label>
                <input asp-for="password" name="password" placeholder="Пароль "/>
            </div>
            <div class="card-columns">
                <label>Повторите пароль: </label>
                <input asp-for="Confirm_password" name="Confirm_password" placeholder="Повторите пароль "/>
            </div>
            <br />
            <div class="card-columns">
                <button class="btn btn-primary" type="submit">Регистраиця</button>
            </div>
            <br />
            <div class="card-footer text-center"><label>Обязательно проверьте введённые данные!</label></div>
        </div>
        </div>
</form>