
@model WEBSHOP.Domain.ViewModels.UnitViewModel

<div class="modal fade" id="UnitCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span area-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="UnitCreateForm" asp-page="Unit" asp-page-handler="Create">
                    <div class="form-group">
                        <label for="UnitTitle" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" id="UnitTitle" placeholder="Enter title">
                        <span class="form-text text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label for="UnitAddress" class="form-label">Address</label>
                        <input asp-for="Address" class="form-control" id="UnitAddress" placeholder="Enter address">
                        <span class="form-text text-danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger text-center fs-5"></div>
                    </div>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                </form>
            </div>
            <div class="modal-footer">
                <button id="CreateBtn" type="button" class="btn btn-secondary"><i class="bi bi-cassette"></i> Add</button>
                <button data-bs-dismiss="modal" type="button" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>