@model WebSchoolMVC.Models.RoomViewModel

<div class="modal fade" id="UpdateRoom">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update room (RID: @Model.Id)</h5>
                <button type="button" class="btn-close" onclick="closePartialClick(this)" aria-label="Close">
                    <span area-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="RoomData" asp-controller="Room" asp-action="Update" method="post">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label for="rNumber" class="form-label">Number</label>
                        <input asp-for="Number" class="form-control" id="rNumber" placeholder="Enter number">
                        <span class="form-text text-danger" asp-validation-for="Number"></span>
                    </div>
                    <div class="form-group">
                        <label for="rFloor" class="form-label">Floor</label>
                        <input asp-for="Floor" class="form-control" id="rFloor" placeholder="Enter floor">
                        <span class="form-text text-danger" asp-validation-for="Floor"></span>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger text-center fs-5"></div>
                    </div>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                </form>
                <div class="card-group">
                    <lable class="card-subtitle font-weight-bold">Hint:</lable>
                    <br />
                    <label class="card-text">in order to change room`s caretaker, close this window and click on 'Remove caretaker' then 'Add caretaker'.</label>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:center">
                <button onclick="saveClick(this)" type="button" class="btn btn-success"><i class="bi bi-cassette"></i> Save</button>
                <button onclick="closePartialClick(this)" type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>