@model WebSchoolMVC.Domain.Entity.Subject

<div class="modal fade" id="CreateSubject" style="position:center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete subject (SID: @Model.Id)</h5>
                <button type="button" class="btn-close" onclick="closePartialClick(this)" aria-label="Close">
                    <span area-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="SubjectData" asp-controller="Subject" asp-action="Create" method="post">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label for="sTitle" class="form-label">Title: @Model.Title</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="justify-content:center">
                <button onclick="saveClick(this)" type="button" class="btn btn-danger"><i class="bi bi-cassette"></i> Proceed</button>
                <button onclick="closePartialClick(this)" type="button" class="btn btn-success"><i class="bi bi-x-circle"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
